name: Deploy
on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy Traefik
    runs-on: ubuntu-latest
    strategy:
      matrix:
        compose-file-context:
          - { stack_name: 'traefik', host: 'prx1-traefik' }

    env:
      HOST: ${{ matrix.compose-file-context.host }}
      DOCKER_HOST: tcp://${{ matrix.compose-file-context.host }}:2375
      DOCKER_CONTEXT_NAME: ${{ matrix.compose-file-context.stack_name }}-ctx
      DOCKER_PROJECT_NAME: ${{ matrix.compose-file-context.stack_name }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Connect to Tailscale
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:github-actions

      - name: Load secret from 1Password
        id: op-load-secret
        uses: 1password/load-secrets-action@v3
        with:
          export-env: false
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          SSH_USERNAME: "op://Github Actions/xptbnlindbeqvq25fpujfqd4xu/SSH_USERNAME"
          CLOUDFLARE_DNS_API_TOKEN: "op://Github Actions/xptbnlindbeqvq25fpujfqd4xu/CLOUDFLARE_DNS_API_TOKEN"

      - name: Run command on remote server via SSH
        env:
          HOSTNAME: ${{ env.HOST }}
          USERNAME: ${{ steps.op-load-secret.outputs.SSH_USERNAME }}
        run: |
          ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null ${{ env.USERNAME }}@${{ env.HOSTNAME }} <<'EOF'
          cd /data/traefik
          git pull origin main
          EOF

      - name: Set up Docker context
        run: |
          docker context \
            create ${{ env.DOCKER_CONTEXT_NAME }} \
            --docker host=${{ env.DOCKER_HOST }}

      - name: Deploy with Docker Compose
        run: |
          echo "CLOUDFLARE_DNS_API_TOKEN=${{ steps.op-load-secret.outputs.CLOUDFLARE_DNS_API_TOKEN }}" > .env
          docker --context ${{ env.DOCKER_CONTEXT_NAME }} compose \
            --project-name ${{ env.DOCKER_PROJECT_NAME }} up -d --remove-orphans

      - name: Cleanup Docker context
        if: always()
        run: |
          docker context rm ${{ env.DOCKER_CONTEXT_NAME }} --force
